<mat-drawer-container class="container">
  <mat-drawer class="drawer" mode="side" opened>
    <mat-selection-list>
      <div mat-subheader>Guilherme's Drawer</div>
      <mat-list-option (click)="navigateTo('feed')">
        <mat-icon mat-list-icon>feed</mat-icon>
        Feed
      </mat-list-option>
      <mat-list-option (click)="navigateTo('movies')">
        <mat-icon mat-list-icon>movie</mat-icon>
        My Movies
      </mat-list-option>
      <mat-list-option (click)="navigateTo('games')">
        <mat-icon mat-list-icon>videogame_asset</mat-icon>
        My Games
      </mat-list-option>
      <mat-list-option (click)="navigateTo('music')">
        <mat-icon mat-list-icon>music_note</mat-icon>
        My Music
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content class="content">
    <app-content></app-content>
  </mat-drawer-content>
</mat-drawer-container>