<mat-drawer-container class="container">
  <mat-drawer class="drawer" mode="side" opened>
    <mat-selection-list>
      <div mat-subheader>Guilherme's Drawer</div>
      <mat-list-option (click)="navigateTo('feed')">
        <mat-icon mat-list-icon>feed</mat-icon>
        Feed
      </mat-list-option>
      <mat-list-option (click)="navigateTo('guilherme-resume')">
        <mat-icon mat-list-icon>person</mat-icon>
        About Guilherme
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content class="content">
    <app-content></app-content>
  </mat-drawer-content>
</mat-drawer-container>