<mat-sidenav-container class="container">
  <mat-selection-list>
    <div mat-subheader>Guilherme's Drawer</div>
    <mat-list-option>
      <mat-icon mat-list-icon>feed</mat-icon>
      Feed
    </mat-list-option>
    <mat-list-option>
      <mat-icon mat-list-icon>movie</mat-icon>
      My Movies
    </mat-list-option>
    <mat-list-option>
      <mat-icon mat-list-icon>videogame_asset</mat-icon>
      My Games
    </mat-list-option>
    <mat-list-option>
      <mat-icon mat-list-icon>music_note</mat-icon>
      My Music
    </mat-list-option>
  </mat-selection-list>
</mat-sidenav-container>