<div>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="tile-1">
      <img class="image" src="assets/alien.png">
      <p class="info">
        Welcome. <br>
        Pretty sure you never seen anything like this before.
      </p>
    </mat-grid-tile>
    <mat-grid-tile class="tile-2">
      <div>
        <app-log-in *ngIf="!isSignUp"></app-log-in>
        <app-sign-up *ngIf="isSignUp"></app-sign-up>
        <p>
          <button class="fit-parent button-color" mat-raised-button (click)="logIn()">
            <span class="text-color-black">
              Log in
            </span>
          </button>
        </p>
        <p>
          <button class="fit-parent" mat-stroked-button (click)="signUp()">
            <span class="text-color-white">
              Sign up
            </span>
          </button>
        </p>
      </div>
  </mat-grid-tile>
  </mat-grid-list>
</div>
